/* Light mode – shadcn-ish */
:root,
[data-md-color-scheme="default"] {
  --md-default-bg-color: #ffffff;
  --md-default-fg-color: #020617; /* slate-900 */
  --md-primary-fg-color: #020617;
  --md-primary-fg-color--light: #0f172a;
  --md-primary-fg-color--dark: #000000;

  --md-accent-fg-color: #0f172a;
  --md-code-bg-color: #f8fafc;   /* slate-50 */
  --md-border-color: #e5e7eb;    /* gray-200 */

  --md-typeset-a-color: #3231d9;
}

/* Dark mode – shadcn “black app” */
[data-md-color-scheme="slate"] {
  --md-default-bg-color: #0f1016;  /* slate-950 */
  --md-default-fg-color: #e5e7eb;  /* gray-200 */
  --md-primary-fg-color: #f9fafb;  /* gray-50 */
  --md-primary-fg-color--light: #e5e7eb;
  --md-primary-fg-color--dark: #ffffff;

  --md-accent-fg-color: #e5e7eb;
  --md-code-bg-color: #09090c;
  --md-border-color: #262c34;      /* gray-800 */

  --md-typeset-a-color: #678db2;
}

/* Global layout tweaks to feel more like shadcn cards */
.md-main {
  background-color: var(--md-default-bg-color);
}

.md-content {
  max-width: 900px;
}

.md-typeset {
  line-height: 1.6;
}
